# Build folders for projects
[Vv]ideo[Dd]ecoder/[Bb]uild/
[Ee]xternals/[Bb]uild/
[Ee]xternals/[Oo]pen[Cc][Vv]/Build/
[Ee]xternals/[Oo]pen[Cc][Vv]/Install/
[Ee]xternals/[Oo]pen[Cc][Vv]/opencv/
[Ee]xternals/[Oo]pen[Cc][Vv]/opencv_contrib/

# Hidden .vs folder
.vs/

# ReSharper things
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings
*.DotSettings.user

*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln